body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    max-width: auto;
    margin: auto;
    width: 1066px;
  }

.allergy {
    font-weight: bold;
    font-family: courier;
}

.header {
  margin: 0 auto;
  height: 375px;
  width: 100%;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

#burger-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 0 auto;
  width: 100%;
  align: center;
}

#burger {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}

.burgerName {
  display: inline;
}

#headerText {
position: absolute;
font-size: 40px;
margin-top: -470px;
margin-left: 250px;
}

#headerPic {
opacity: 0.75;
margin: auto;
}

#description {
  font-weight: normal;
}

#selectBurger {
  margin: auto;
  margin-bottom: 10px;
  width: 1066px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px dashed black;
  border-radius: 25px;
}

#customerInfo {
  color: white;
  background: black;
  max-width: 100%;
  padding: 5px 15px;
  margin: auto;
  width: 1060px;
  border-radius: 25px;
  border: 2px dashed white;
}

#placeOrder {
  margin: 40px 5px 5px;
}
button:hover {
    background:LightBlue;
    cursor: pointer;
}
input, option, select:hover {
  cursor: pointer;
}

table {
  width: 72%
}

.burgerImage {
  width: 350px;
  height: 197px;
}
.wrapper {
  display: grid;
  grid-row-gap: 0px;
  grid-column-gap: 20px;
  grid-template-columns: 325px 325px 329px;
  background-color: #fff;
  color: #444;
 }

 .box {
     background-color: white;
     color: black;
     border-radius: 5px;
     padding: 10px;
     margin-top: 0px;
     font-size: 100%;
 }

 .box ul {
   margin-top: 0px;
 }

.a {
    grid-column: 1;
    grid-row: 1;
    font-weight: bold;
}
.b {
    grid-column: 1;
    grid-row: 2;
}
.c {
    grid-column: 1;
    grid-row: 3;
}
.d {
    grid-column: 2;
    grid-row: 1;
    margin: 0px;
    font-weight: bold;
}
.e {
    grid-column: 2;
    grid-row: 2;
    margin: 0px;
}
.f {
    grid-column: 2;
    grid-row: 3;
    margin: 0px;
}

.g {
    grid-column: 3;
    grid-row: 1;
    font-weight: bold;
}
.h {
    grid-column: 3;
    grid-row: 2;
}
.i {
    grid-column: 3;
    grid-row: 3;
}
